In [1]:
# Author: Birju Dhaduk
# Date: 20200217
# CS301-006, Professor Watson
# HW03 Solution
# Made methods to read a csv file, get the number of outliers, and get the number of deviants
# https://github.com/birjudhaduk/cs301
# https://github.com/birjudhaduk/cs301/commit/4b56ce207206e1453e678fb87c42245222a9bf42
# master

# CS 301 HW 03

## Problem 1

In [2]:
import pandas as pd

In [3]:
def data_reader(data_path):
    try:
        df = pd.read_csv(data_path)
        print('The shape is:', end = ' ')
        print(df.shape)
        return df
    except FileNotFoundError:
        print('Error during reading, please try again.')
        return None

In [4]:
file_name = 'C:\\Users\\birju\\Documents\\CS 301\\drinks.csv'
data_reader(file_name)

The shape is: (193, 6)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [5]:
file_name = 'i_dont_exist.csv'
data_reader(file_name)

Error during reading, please try again.

## Problem 2

In [6]:
import numpy as np

In [7]:
def get_num_outliers(df, col):
    nums = sorted(df[col].values)
    q1 = np.quantile(nums, .25)
    q3 = np.quantile(nums, .75)
    iqr = q3 - q1
    out = []
    lower = q1 - 1.5 * iqr
    i = 0
    while nums[i] < lower:
        out.append(nums[i])
        i += 1
    upper = q3 + 1.5 * iqr
    j = -1
    while nums[j] > upper:
        out.append(nums[j])
        j -= 1
    return len(out)

In [8]:
file_name = 'C:\\Users\\birju\\Documents\\CS 301\\drinks.csv'
drinks_df = pd.read_csv(file_name)
get_num_outliers(drinks_df, 'wine_servings')

26

## Problem 3

In [9]:
def get_num_deviants(df, col, multiplier):
    nums = sorted(df[col].values)
    mean = np.mean(nums)
    std = np.std(nums) * len(df) / (len(df) - 1)
    out = []
    lower = mean - std * multiplier
    i = 0
    while nums[i] < lower:
        out.append(nums[i])
        i += 1
    upper = mean + std * multiplier
    j = -1
    while nums[j] > upper:
        out.append(nums[j])
        j -= 1
    return len(out)

In [10]:
get_num_deviants(drinks_df, 'wine_servings', 1)

28

In [11]:
get_num_deviants(drinks_df, 'wine_servings', 2)

15